@import '../include-media';
@import '../variables';
@import 'engage';

body {
	background: #f1f1f1;
	box-shadow: none;
	margin: 65px auto 24px;
	padding: 0;
}

.cocart-logo {
	border: 0;
	margin: 0;
	padding: 0;
	text-align: center;
}

.cocart-setup-wizard {
	text-align: center;

	.hidden {
		display: none;
	}
}

.cocart-setup-wizard-content {
	background: $white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
	margin: 0 0 20px;
	overflow: hidden;
	padding: 2em;
	text-align: left;
	zoom: 1;

	h1,
	h2,
	h3,
	table {
		border: 0;
		clear: none;
		color: #666;
		font-weight: 500;
		margin: 0 0 20px;
		padding: 0;
	}

	p {
		color: #666;
		font-size: 1em;
		line-height: 1.75;
		margin: 20px 0;
	}

	p:first-of-type {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	table {
		color: #666;
		font-size: 1em;
		line-height: 1.75;
	}

	a {
		color: $cocart;

		&:hover,
		&:focus {
			color: #111;
		}
	}

	.form-table {
		th {
			font-weight: 400;
			vertical-align: top;
			width: 35%;
		}

		td {
			vertical-align: top;

			select,
			input:not( [type='checkbox'] ) {
				box-sizing: border-box;
				width: 100%;
			}

			input[size] {
				width: auto;
			}

			.description {
				color: #999;
				display: block;
				font-style: italic;
				line-height: 1.5;
				margin-top: 0.25em;
			}

			.input-checkbox,
			.input-radio {
				box-shadow: none;
				box-sizing: inherit;
				margin: 0 0.5em 0 0;
				padding: inherit;
				width: auto;
			}
		}

		th,
		td {
			border: 0;
			margin: 0;
			padding: 12px 0;

			&:first-child {
				padding-right: 1em;
			}
		}
	}

	@media screen and (max-width: 782px) {
		.form-table {
			tbody {
				th {
					width: auto;
				}
			}
		}
	}
}

.cocart-setup-wizard-steps {
	color: #ccc;
	display: inline-flex;
	list-style: none outside;
	margin: 0;
	overflow: hidden;
	padding: 0 0 24px;
	width: 100%;

	li {
		border-bottom: 4px solid #ccc;
		float: left;
		line-height: 1.4;
		margin: 0;
		padding: 0 0 0.8em;
		position: relative;
		text-align: center;
		width: 100%;

		a {
			color: $cocart;
			margin: -1.5em;
			padding: 1.5em;
			position: relative;
			text-decoration: none;
			z-index: 1;

			&:hover,
			&:focus {
				color: #111;
				text-decoration: underline;
			}
		}
	}

	li::before {
		background: $white;
		border: 4px solid #ccc;
		border-radius: 100%;
		bottom: 0;
		content: '';
		height: 4px;
		left: 50%;
		margin-bottom: -8px;
		margin-left: -6px;
		position: absolute;
		width: 4px;
	}

	li.active {
		border-color: $cocart;
		color: $cocart;
		font-weight: 700;

		&::before {
			border-color: $cocart;
		}
	}

	li.done {
		border-color: $cocart;
		color: $cocart;

		&::before {
			background: $cocart;
			border-color: $cocart;
		}
	}
}

.cocart-setup-wizard .cocart-setup-wizard-actions {
	margin: 20px 0 0;
	overflow: hidden;
	position: relative;

	.button {
		border-radius: 4px;
		box-shadow: none;
		font-size: 16px;
		font-weight: 300;
		height: auto;
		line-height: 1;
		margin-bottom: 2px;
		margin-right: 0.5em;
		margin-top: 10px;
		min-width: 12em;
		padding: 1em 2em;
	
		&:focus,
		&:hover,
		&:active {
			box-shadow: none;
		}

		&.button-primary {
			margin: 0;
			opacity: 1;
		}
	}
}

.cocart-setup-wizard-footer-links {
	color: #7b7b7b;
	display: flow-root;
	font-size: 0.85em;
	margin: 1.18em auto;
	text-align: center;
}

.hide {
	display: none;
}

.step {
	text-align: center;
}

label {
	color: #666;
	display: inline-block;
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 0.5em;
	margin-top: 0.85em;
}

.select-input {
	background-color: $white;
	border: 1px solid #aaa;
	border-color: #ddd;
	border-radius: 4px;
	color: #444;
	display: block;
	font-size: 16px;
	height: 30px;
	padding-left: 8px;
	padding-right: 8px;
	width: calc(100% - 8px - 8px - 2px);

	&.dropdown {
		max-width: 100%;
		width: 100%;
	}
}

.newsletter-form-container {
	display: flex;

	.newsletter-form-email {
		background-color: $white;
		border: 1px solid #aaa;
		border-color: #ddd;
		border-radius: 4px;
		color: #666;
		display: inline-block;
		flex-grow: 1;
		font-size: 16px;
		height: 42px;
		margin-right: 6px;
		padding: 0 8px;
	}

	.newsletter-form-button-container {
		flex-grow: 0;
	}
}

.cocart-setup-wizard .cocart-setup-wizard-actions .button.newsletter-form-button {
	height: 42px;
	margin: 0;
	padding: 0 1em;
}

.cocart-error {
	background: #ffe6e5;
	border-color: #ffc5c2;
	margin-bottom: 1em;
	padding: 1em;

	p {
		color: #444;
		margin-bottom: 0.5em;
		margin-top: 0;
	}

	a {
		color: #ff645c;
	}

	.cocart-setup-wizard-actions .button {
		font-size: 14px;
	}
}

@media only screen and (max-width: 400px) {
	.cocart-logo img {
		max-width: 80%;
	}

	.cocart-setup-wizard-steps {
		display: none;
	}
}
