.cocart {
	#wpcontent {
		min-height: auto;
	}

	.woocommerce-layout__header h1.woocommerce-layout__header-heading {
		opacity: 0;
	}

	&.settings-page {
		margin: 0 !important;
		padding: 0 !important;
		position: relative;
		top: 0;
		width: 100%;

		header {
			.page-title {
				padding: 0 20px;

				.logo-sep {
					margin: 0 15px;

					@include media('<=phone') {
						display: none;
					}
				}

				a.tab {
					border-bottom: 4px solid #fff;
					box-shadow: none;
					color: #787c82;
					display: inline-block;
					font-weight: $medium-weight;
					margin-right: 30px;
					margin-top: -4px;
					padding: 20px 0 18px;
					text-decoration: none;

					&.active {
						border-color: $cocart;
						color: #2c3338;

						&:hover {
							border-color: $cocart_hovered;
						}
					}

					&:hover {
						border-color: #a7aaad;
					}
				}

				a.action {
					color: #fff;
					font-weight: 600;
					line-height: 28px;
					margin: 14px 0 14px 10px;
					min-height: 30px;
					vertical-align: top;

					@include media('<=phone') {
						margin-left: 0;
					}
				}
			}
		}

		footer {
			display: inline;
			padding: 10px 32px;
		}

		.container {
			background-color: transparent;
			border: none;
			box-shadow: none;
			margin: 0;
			max-width: 100%;
			width:100%;

			.content li {
				margin-left: initial;
			}
		}

		.content {
			padding: 0;
			padding-left: 32px;
		}

		h2 {
			border-bottom: 1px solid #ddd;
			font-size: 23px;
			font-weight: 300;
			margin-bottom: 10px;
			padding-bottom: 30px;
		}

		.notice p {
			font-size: inherit;
			line-height: inherit;
			margin-bottom: 0.5em;
		}

		h2, h3, table, div.section-description, div.aftertable {
			display: none;

			&.active {
				display: inherit;
			}
		}

		#save-cocart {
			opacity: 0;
			visibility: hidden;

			&.active {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}